option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"

container_commands:
  01_add_src_to_path:
    command: "echo 'export PYTHONPATH=\"/var/app/current/src:$PYTHONPATH\"' >> /opt/elasticbeanstalk/deployment/env"